[core]
	editor = nvim
[pull]
	ff = only
[init]
	defaultBranch = main
[user]
	name = dreitagebart
	email = input@dreitagebart.io
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
